<nav>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <div class="flex-shrink-0 text-indigo-400">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="28px" width="28px" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" />
          </svg>
        </div>
        <div class="hidden md:block">
          <div class="ml-8 flex items-baseline space-x-4">
            {{ nav include_home="true" }}
              {{ if current_uri == url }}
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a href="{{ url }}" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium">{{ title }}</a>
              {{ else }}
              <a href="{{ url }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">{{ title }}</a>
              {{ /if }}
            {{ /nav }}
          </div>
        </div>
      </div>
    </div>
  </div>
